@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "User";
}

<div class="text-center">
    <h1 class="display-4">Selamat Datang di Administrasi Sekolah</h1>
    <p>
        Silahkan Para Guru untuk bisa memilih menu yang diinginkan
    </p>
    <article>
        😊😊😊Terima Kasih 😊😊😊😊
    </article>
</div>


<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="text-dark nav-link" asp-area="" asp-controller="Gurus" asp-action="Index">View Data Guru</a>
                    </li>
                    <li class="nav-item">
                        <a class="text-dark nav-link" asp-area="" asp-controller="Nilais" asp-action="Index">     Add Nilai Siswa</a>
                    </li>


            </div>
        </div>
    </nav>
</header>


