@model UCP_PAW_1.Models.Kela

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Kela</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdKelas" />
            <div class="form-group">
                <label asp-for="NamaKelas" class="control-label"></label>
                <input asp-for="NamaKelas" class="form-control" />
                <span asp-validation-for="NamaKelas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdMapel" class="control-label"></label>
                <select asp-for="IdMapel" class="form-control" asp-items="ViewBag.IdMapel"></select>
                <span asp-validation-for="IdMapel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
