@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Selamat Datang di Menu Siswa</h1>
    <p>
        Silahkan Para Siswa Dapat Memilih Menu dibawah Ini
    </p>
    <article>
        😊😊😊Terima Kasih 😊😊😊😊
    </article>
</div>


<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="text-dark nav-link" asp-area="" asp-controller="Nilais" asp-action="Index">Data Nilai</a>
                    </li>
                    <li class="nav-item">
                        <a class="text-dark nav-link" asp-area="" asp-controller="Siswas" asp-action="Index"> Data Siswa</a>
                    </li>


            </div>
        </div>
    </nav>
</header>